$ancho_minimo_articulos: 200px;
$color_h1_header: white;
$margen_general: 10px;

// Colores
$color_header: rgb(243, 127, 74);
$color_articulo: violet;
$color_main: maroon;
$color_aside: rgb(23, 112, 105);
$color_footer: darkblue;

// bordes header
$borde_div: 3px dotted purple;

