/* ESTILO 3 */
@import "../mixins";
@import "../variables";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;

  @include escritorio() {
    grid-template-areas: "header header header header"
                         "main main main aside"
                         "main main main aside"
                         "footer footer footer footer";
  }

  
  gap: $margen_general;

  h1 {
    text-align: center;
  }
}

header {
  background: $color_header;
  @include escritorio{
    grid-area: header;
  }
  h1{
    color: $color_h1_header;
  }
}

main {
  background: $color_main;
  @include escritorio{
    grid-area: main;
  }

  /* grid main */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: $margen_general;
  
    .articulo {

        img {
            width: 100%;
        }
    }
    
}

aside {
  background: $color_aside;
  
  @include escritorio {
    grid-area: aside;
  }

  p {
    visibility: hidden;
  }

}

footer {
  background: $color_footer;

  @include escritorio{
    grid-area: footer;
  }

  p {
    visibility: hidden;
  }
}
